.DS_Store
__MACOSX
input.png
/models/flower_model.tflite
/models/yolov8n_int8.tflite
/models/african_wildlife.tflite
/models/nllb-200-distilled-600M-int8
new_output.png
q4_0-orca-mini-3b.gguf
output.png
phi-2-chat.gguf
*.pyc
.venv
phi-2-chat
llama.cpp
images/flower_photos